/* Paragraph below the page title */
.main-container.main-container-instruments > p{
    width: 29.2rem;
}


/* Form styles of client data */
.form-cart-container{
    display: flex;
    flex-direction: column;
    width: 29.2rem;
    align-items: stretch;
    gap: 1rem;
    position: relative;
}

.group-input{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.group-input:nth-child(5){
    flex-direction: row;
    margin-top: 1rem;
}

.group-input label{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.group-input input{
    border: none;
    background-color: #D2DCD2;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}


/* Splash to confirm to use in form */
.splash-form{
    background-color: #5d745e;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.splash-form-question,
.splash-form-sucess,
.splash-form-fail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.splash-form-fail{
    background-color: #f00;
    border-radius: 1rem;
}

.splash-form-fail p{
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    width: min-content;
}

.hidden-element{
    display: none !important;
}

.splash-form h1,
.splash-form-sucess h1{
    font-size: 1.6rem;
    color: #fff;
}

.splash-form-buttons-container{
    display: flex;
    gap: 1rem;
}

.splash-form-wait{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    padding: 1rem;
    gap: 1rem;
}

.splash-form-wait img{
    width: 3.5rem;
    height: 3.5rem
}

.btn-form-cart,
.splash-form button{
    border: none;
    background-color: #91A692;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.4rem 2rem;
    width: auto;
    border-radius: 1.4rem;
    cursor: pointer;
}

/* Container for cart items */
.items-cart-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* width: 29.2rem; */
    background-color: #9aab9b;
    border-radius: 1rem;
    padding: 1.5rem;
}

.item-cart-group{
    background-color: #D2DCD2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    gap: 1.5rem;
}

.subtotal-container{
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 1rem;
    background-color: #a0b7a1;
    width: 22.5rem;
    display: flex;
    justify-content: center;
    align-self: stretch;
}

.subtotal-container p{
    text-align: center;
}

.subtotal-container span{
    font-size: 1.6rem;
}

.item-title-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.item-title-img h1, .item-media h1{
    font-size: 1.6rem;
    font-weight: bold;
    width: auto;
}

.item-title-img img{
    width: 6.5rem;
    height: 9.5rem;
}

.items-media-container{
    display: flex;
    /* flex-direction: column; */
    gap: 0.5rem;
}

.img-trash{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    align-self: center;
}

.item-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bdcebe;
    gap: 0.5rem;
    padding: 0.8rem;
    width: 11rem;
    border-radius: 1rem;
}

.item-media h1{
    width: 4.8rem;
}

.item-media h2{
    font-size: 1.5rem;
}

.quant-control{
    display: flex;
    justify-content: center;
}

.quant-control span{
    font-size: 1.6rem;
    padding: 0 0.5rem;
}

.total-container{
    background-color: #d2dcd2;
    border-radius: 1rem;
    display: flex;
}

/* Responsive Styles */

@media screen and (min-width: 560px) {

    .main-title-instruments h1{
        width: 33rem;
    }

    .item-cart-group{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .item-title-img{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .items-media-container{
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .subtotal-container{
        grid-column-start: 1;
        grid-column-end: 4;
        width: 100%;
        justify-self: center;
    }

    .img-trash{
        grid-column-start: 4;
        grid-column-end: 5;
        justify-self: center;
    }

    .main-container.main-container-instruments > p,
    .form-cart-container,
    .items-cart-container{
        width: 45rem;
    }

    .items-media-container{
        flex-direction: row;
        align-self: center;
    }

}

@media screen and (min-width: 768px){

    .items-cart-container{
        width: 65vw;
    }
    
}

@media screen and (min-width: 1080px){

    .items-cart-container,
    .item-cart-group{
        max-width: 90rem;
    }

    .item-cart-group{
        grid-template-columns: repeat(7, 1fr);
    }

    .item-title-img{
        flex-direction: row;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .item-title-img h1{
        width: 70%;
    }

    .items-media-container{
        grid-column-start: 4;
        grid-column-end: 7;
        justify-self: center;
    }

    .img-trash{
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: center;
    }

    .subtotal-container{
        grid-column-start: 1;
        grid-column-end: 8;
        width: 100%;
        justify-self: center;
    }

    .item-media{
        width: 12rem;
    }
    
    .items-media-container{
        gap: 1.5rem;
        /* width: 25rem; */
    }
    
}