/* Header */
.info-banner{
    position: relative;
}


/* main-container-instruments section */
.main-container-instruments{
    padding: 2rem 3rem;
    gap: 2rem;
    flex-direction: column;
}

.main-container-instruments p{
    font-size: 1.6rem;
    text-align: justify;
    line-height: 2rem;
}

.main-title-instruments{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem 0;
}

.main-title-instruments h1{
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    width: 20rem;
}

.main-title-instruments img{
    width: 2.5rem;
}

.instruments-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.cart-count-items{
    background-color: #001EFF;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    padding: 0.1rem 0;
    border-radius: 0.75rem;
    position: absolute;
    right: -0.7rem;
    top: 1.4rem;
}

/* instruments-container */
.instruments-container{
    background-color: #B6C9B7;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 1.5rem;
    color: #192E18;
}

/* Class created to personalize 'instruments-card' */
.instruments-container-card{
    width: 27rem;
    height: fit-content;
    background-color: #D2DCD2;
    align-items: center;
}

.instruments-card.instruments-container-card h1{
    font-size: 2rem;
}

.instruments-container-card .instruments-card-details{
    gap: 1rem;
    width: 92%;
}

.group-instruments-order-container{
    display: flex;
    justify-content: space-between;
    width: 27rem;
}

.instruments-order-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background-color: #a7bfa8;
    border-radius: 1rem;
    width: 12.5rem;
}

.instrument-media-option{
    display: flex;
    justify-content: center;
}

.instrument-media-option h1, .instrument-media-option span{
    font-size: 1.6rem;
}

.instrument-media-option span{
    font-weight: normal;
}

.order-container-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.group-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
}

.group-detail span{
    font-size: 1.6rem;
    font-weight: bold;
}

.group-detail:nth-child(2){
    width: 10rem;
}

.img-cart-instruments{
    height: 2.2rem;
    cursor: pointer;
}

.quant-control-container{
    display: flex;
}

.quant-control-container span{
    padding: 0 0.5rem;
    font-weight: normal;
}

.btn-add, .btn-remove{
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0 0.5rem;
    border: 0.1rem solid #000;
    font-size: 1.4rem;
    font-weight: bold;
}

.btn-add{
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

.btn-remove{
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

.btn-add, .btn-remove{
    cursor: pointer;
}

.btn-go-to-cart{
    width: 16.4rem;
    height: 2.8rem;
    background-color: #7C8F7D;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 1.4rem;
    border: none;
}

.main-container-slider-instruments{
    height: 43.805rem;
}

@media screen and (min-width: 760px){
    
    .instruments-list-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }

}

@media screen and (min-width: 1080px){
    .instruments-list-container{
        grid-template-columns: 1fr 1fr 1fr;;
    }
}