/* Variáveis */
:root{
    --slider-width: 28.28rem;
    --slider-height:40rem;
    --time-slide: 8s;
    --time-transition: 3s;
}

.main-container-slider{
    height: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.slider-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.slider{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: var(--slider-width);
    height: var(--slider-height);
    border: 0.5rem solid #2D4C3A;
    border-radius: 5%;
    row-gap: 2rem;
}

.slider-container{
    display: flex;
    width: fit-content;
    height: var(--slider-height);
    position: relative;
    z-index: -1;
    transition: transform 1.5s ease-in-out;
}

.slider-container video{
    width: var(--slider-width);
    height: var(--slider-height);
}

.slider-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    align-self: center;
}

.slider-controls button{
    cursor: pointer;
    border: none;
}

.slider-controls button img{
    width: 2rem;
}
