/* Variáveis */
:root{
    --slider-width: 28.28rem;
    --slider-height:40rem;
    --time-slide: 8s;
    --time-transition: 3s;
}

@keyframes carousel{
    /* Slide 1 */
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    }
    /* Slide 2 */
    25%{
        transform: translateX(calc(-1 * var(--slider-width)));
    }
    45%{
        transform: translateX(calc(-1 * var(--slider-width)));
    }
    /* Slide 3 */
    50%{
        transform: translateX(calc(-2 * var(--slider-width)));
    }
    70%{
        transform: translateX(calc(-2 * var(--slider-width)));
    }
    /* Slide 4 */
    75%{
        transform: translateX(calc(-3 * var(--slider-width)));
    }
    95%{
        transform: translateX(calc(-3 * var(--slider-width)));
    }
    /* Slide 5 */
    100%{
        transform: translateX(calc(-4 * var(--slider-width)));
    }
}